.footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.list ul li{
    list-style-type: none;
}
.list ul li a{
    color: white;
    text-decoration: none;
}
.list ul li a:hover{
    color: yellow;
    text-decoration: underline;
}

@media only screen and (max-width:1024px){
    .container{
        width: 100vw;
    }
}

